<form method="post" action="{{ path('app_back_review_delete', {'id': review.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet article?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ review.id) }}">
    <div class="container-fluid">
        <a href="{{ path('app_back_review_show', {'id': review.id}) }}" class="btn btn-success fa fa-eye p-2 mb-1" role="button"></a>
        <a href="{{ path('app_back_review_edit', {'id': review.id}) }}" class="btn btn-warning fa fa-pencil p-2 mb-1" role="button"></a>
        <button class="btn btn-danger fa fa-trash-o p-2 mb-1"></button>
    </div>
</form>
