<form method="post" action="{{ path('app_back_review_delete', {'id': review.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet article?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ review.id) }}">
    <div class="d-flex justify-content-center">
        <button class="btn btn-danger col-2 mt-1">Supprimer</button>
    </div>
</form>
