<form method="post" action="{{ path('app_back_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce commentaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <div class="d-flex justify-content-center">
        <button class="btn btn-danger col-2 mt-1">Supprimer</button>
    </div>
</form>